#schedule_event_text {
    display: flex;
    align-items: first baseline;
}
#schedule_event_button_div {
    display: flex;
    justify-content:flex-end;
}


#main_container {
    background-color: rgb(250, 247, 253);
    padding: 20px;
    border-radius: 6px;
    border: 1px solid rgb(218, 218, 218);
}

#container div:has(> label) {
    border-bottom: 1px solid rgb(218, 218, 218);
    padding-bottom: 15px;
}
select {
    margin-right: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    padding: 2px;
}

input[type=text] {
    width: 400px;
    border: 1px solid rgb(218, 218, 218);
}

